.bg-gray-900 {
  background-color: #212529 !important;
}

.bg-gray-800 {
  background-color: #343a40 !important;
}

.bg-gray-600 {
  background-color: #495057 !important;
}

.text-gray-900 {
  color: #212529 !important;
}

.text-gray-800 {
  color: #343a40 !important;
}

.bg-blue {
  background-color: #DC2626;
}
