<div *ngIf="loading" class="text-center p-3">
  <div class="spinner-border"></div>
</div>

<div *ngFor="let o of orders" class="mb-4">
  <div class="card">
    <div class="card-body bg-dark text-white">
      <h6 class="card-subtitle mb-2 text-white">Products :</h6>
      <!-- on appelle la méthode au lieu de map(...) -->
      <p class="card-text">
        {{ getProductTitles(o) }}
      </p>
    </div>
    <div class="card-header d-flex justify-content-between">

      <div>
        Order #{{ o.orderId }} — {{ o.orderDate | date:'short' }}
      </div>

      <div>
        <span class="badge bg-info">{{ o.status }}</span>
        <span class="ms-3">Total (vous) : {{ o.totalForArtisan | currency }}</span>

      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li *ngFor="let product of o.products" class="list-group-item d-flex justify-content-between">
        <div>
          {{ product.productTitle }} × {{ product.quantity }}
        </div>

        <div>
          {{ product.priceAtPurchase | currency }}
        </div>
      </li>
    </ul>
  </div>
</div>

<ng-container *ngIf="!loading && orders.length === 0">
  <p class="text-center text-muted">You do not have any order.</p>
</ng-container>
